<hr class="separate pos-rela"/>
<footer class="footer clearfix">
	<div class="pull-left">
		<p>Proudly published with <a target="_blank" href="https://github.com/barbara012">&nbsp;Node</a></p>
		<p>感谢<a target="_blank" href="http://glyphicons.com/">Glyphicons</a>提供的字体库</p>
		<p>感谢<a target="_blank" href="https://twitter.com">Twitter</a>的开源项目<a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></p>
	</div>
	<div class="pull-right">
		<p>友情链接：<a target="_blank" href="http://cv.qiaobutang.com">乔布简历</a></p>
		<p>请使用现代浏览器，下载：<a href="http://download.firefox.com.cn/releases/partners/qiaobutang/webins3.0/zh-CN/Firefox-setup.exe">火狐浏览器</a></p>
		<p>All content copyright NiZ-YoYo © 2014 • All rights reserved.</p>
	</div>	
</footer>
<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>