<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="shortcut icon" sizes="32x32" href="/img/icon32.png" type="image/png">
<link rel="stylesheet" href="/stylesheets/test.css?v4"/>