<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="apple-touch-icon-precomposed" size="114x114" href="logo3.png" />
<link rel="shortcut icon" sizes="32x32" href="/img/icon32.png" type="image/png">
<link rel="stylesheet" href="http://7u2fwf.com1.z0.glb.clouddn.com/css/test.css?v8"/>