<title><%= title %></title>
<link rel="shortcut icon" sizes="32x32" href="/img/icon32.png" type="image/png">
<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>