body {
  padding:60px;
}

a {
  color: #00B7FF;
}
.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#999999;margin-right:1.2em;}
.tag{background-color:#ff0000;border-radius:3px;font-size:14px;color:#ffffff;display:inline-block;padding:0 5px;margin-bottom:8px;}
.tag:hover{text-decoration:none;background-color:#0078b6;color:#ffffff;-webkit-transition:color .2s linear;}
.search{border:0;width:6em;text-align:center;font-size:1em;margin:0.5em 0;}
.l_head{float:left;margin-left:-4em;box-shadow:0px 1px 4px #888;}
.r_head{float:right;margin-top:-2.5em;box-shadow:0px 1px 4px #888;}
/*#load-pic input[type="file"] {visibility: hidden; height: 2px;}*/
.upload-drag {
	padding: 10px;
	border: 2px dashed rgb(221, 221, 221);
	border-radius: 2px;
	min-height: 240px;
	height: auto; 
	transition: all 0.2s ease;
}
.thumbnail,
.thumbnail img{
	width:200px;
	height:150px;
}
.thumbnail {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
.close-img {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	background: #ffffff;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #000000;
	opacity: 0;
	transition: all 0.2s ease;
}
.thumbnail:hover {
	border-color: rgb(221, 221, 221);
}
.thumbnail:hover .close-img {
	opacity: 1;
}
.thumbnail .close-img:hover {
	background: #0078b6;
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none;
}

