html, body {
	height: 100%;
}
.user_head img {
	height: 28px;
	width: 28px;
}
.pos-rela {
	position: relative;
}
.pos-abso {
	position: absolute;
	display: block;
}
.txt-center {
	text-align: center;
}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#999999;margin-right:1.2em;}
.tag{border-radius:3px;font-size:12px;color:#999999;padding:1px 2px;}
.tag:hover{text-decoration:none;}
.l_head{float:left;margin-left:-4em;box-shadow:0px 1px 4px #888; width: 48px; height: 48px;}
/*#load-pic input[type="file"] {visibility: hidden; height: 2px;}*/
.upload-drag {
	padding: 10px;
	border: 2px dashed rgb(221, 221, 221);
	border-radius: 2px;
	min-height: 240px;
	height: auto; 
	transition: all 0.2s ease;
}
.thumbnail,
.thumbnail img{
	width:200px;
	height:150px;
}
.thumbnail {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
.close-img {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	background: #ffffff;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #000000;
	opacity: 0;
	transition: all 0.2s ease;
}
.thumbnail:hover {
	border-color: rgb(221, 221, 221);
}
.thumbnail:hover .close-img {
	opacity: 1;
}
.thumbnail .close-img:hover {
	background: #0078b6;
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none;
}
/* 首页 */
.home-page .banner {
	background-color: #e2e1df;
	height: 300px;
	background-image: url(../img/head_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.home-page .home-page_nav {
	border: 1px solid #cfcfcf;
	background: linear-gradient(top,#ffffff, #e8e8e8);
	background: -moz-linear-gradient(top,#ffffff, #e8e8e8);
	background: -ms-linear-gradient(top,#ffffff, #e8e8e8);
	background: -webkit-linear-gradient(top,#ffffff, #e8e8e8);
}
.home-page .nav li {
	float: left;
}
.home-page_nav input {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.home-page_nav input:focus {
	width: 260px;
}
.home-page .glyphicon {
	line-height: 20px;
}
.home-page .head-pic img {
	width: 20px;
	height: 20px;
}
.home-page .navbar-nav > .active > a {
	text-shadow : 1px 1px 0 rgba(0,0,0,0.12);
}
.home-page .navbar-nav > li > a:hover {
	background: transparent;
}
.home-page .navbar-nav > .active > a,
.home-page .navbar-nav > .active > a:hover {
	background: #F3CECE;
}
.home-page .search-article {
	margin: 20px 0 100px;
}
.home-page article {
	margin-top: 20px;
	padding: 20px 20px 20px 100px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border-top: 1px solid #e2e2e2;
	background: -webkit-linear-gradient(top,#ffffff, #fafafa);
	background: -moz-linear-gradient(top,#ffffff, #fafafa);
	background: -ms-linear-gradient(top,#ffffff, #fafafa);
	background: linear-gradient(top,#ffffff, #fafafa);
}
.home-page .author_head {
	left: 20px;
	top: 50%;
	margin-top: -24px;
}
.home-page .author_head img {
	width: 48px;
	height: 48px;
	margin: 0;
}
.home-page .article p {
	line-height: 1.8;
	letter-spacing: 1px;
}
article h2,
.article h2 {
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}
.home-page h2 {
	text-align: left;
}
article img,
.article img {
	max-width: 600px;
	margin: 20px 0;
}
article h2 a {
	color: #50585D;
}
.home-page .info {
	margin-top: 20px;
}
.info {
	font-size: 12px;
	color: #777777;
}
.home-page .see-more {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 40px;
	top: 50%;
	right: 20px;
	margin-top: -20px;
	border: 1px solid #e2e2e2;
	background: -webkit-linear-gradient(top,#fafafa,#e2e2e2);
	background: -moz-linear-gradient(top,#fafafa,#e2e2e2);
	background: -ms-linear-gradient(top,#fafafa,#e2e2e2);
	background: linear-gradient(top,#fafafa,#e2e2e2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	-ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	filter: alpha(opacity=0);
	opacity: 0;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	text-shadow: 1px 1px 1px #000000;
}
.home-page article:hover .see-more {
	filter: alpha(opacity=100);
	opacity: 1;
	right: 10px;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
/* 文章单页 */
.singlepage {
	min-width: 900px;
	height: 100%;
}
.about_author,
.article_content {
	width: 300px;
	height: 100%;
	min-height: 800px;
	-webkit-transition: all 0.3s ease;
}
.singlepage .about_author {
	background: #428bca;
	overflow: hidden;
}
.singlepage .article_content {
	min-width: 600px;
	width: 660px;
	overflow: auto;
	padding: 40px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",tahoma,arial,simsun,"\5B8B\4F53";
}
.singlepage .article_content article img {
	max-width: 600px;
}
.singlepage .about_author .home {
	top: 10px;
	left: 20px;
}
.singlepage .about_author .glyphicon-home,
.singlepage .article_content .edit,
.singlepage .article_content .remove {
	color: #ffffff;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.13);
}	
.singlepage .about_author .glyphicon-home {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
}
.singlepage .article_content .edit {
	top: 10px;
	left: 20px;
}
.singlepage .article_content .remove {
	top: 10px;
	right: 20px;
}
.singlepage .article_content .edit,
.singlepage .article_content .remove {
	color: #999999;
}
.singlepage .article_content .edit:hover,
.singlepage .article_content .remove:hover {
	color: #333333;
}
.singlepage .about_author h4 {
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.singlepage .author_info {
	width: 300px;
	padding: 66px 0 10px;
	color: #ffffff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
}
.singlepage .author_info p {
	padding-left: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.singlepage .author_info p span {
	color: #fafafa;
}
.singlepage .author_head {
	width: 60px;
	height: 60px;
	display: block;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 0 2px #ffffff;
	margin: 0 auto 10px;
}
.singlepage .author_head img {
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
.singlepage article p,
.posted #content .article p {
	line-height: 2;
	letter-spacing: 1px;
	margin-bottom: 1em;
	text-indent: 2.1em;
}
.singlepage article p.info,
.posted #content .article p.info {
	text-indent: 0;
}
p {
	margin: 0;
	padding: 0;
}
/* 用户已发布文章列表 */
.posted {
	padding-top: 60px;
	background: #edece4;
}
.posted-list {
	height: 100%;
}
.posted .list {
	width: 30%;
	height: 100%;
	padding-left: 10px;
	padding-right: 5px;
}
.posted #list,
.posted #content {
	width: 100%;
	height: 100%;
	color: #666666;
	overflow: auto;
	background-color: #ffffff;
}
.posted .content {
	width: 70%;
	height: 100%;
	min-width: 710px;
	padding-right: 10px;
	padding-left: 5px;
}
.posted #content {
	padding: 60px 20px;
}
.posted .list-head {
	background: #ffffff;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #cfcfcf;
}
.posted .content .matte-head,
.posted .content .content-head {
	height: 40px;
	top: 0;
	width: 100%;
	filter: alpha(opacity=80);
	opacity: 0.8;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
	background: #ffffff;
	z-index: 100;
}
.posted .content .content-head {
	z-index: 102;
	line-height: 40px;
	padding: 0 20px;
}
.posted #content .article {
	height: 100%;
	width: 666px;
	padding-bottom: 30px;
	margin: 0 auto;
}
/*到这了*/
.posted .title-item,
.tag-page .title-item {
	border-bottom: 1px solid #cfcfcf;
}
.posted .active,
.tag-page .title-item {
	box-shadow: inset 10px 0 0 #cfcfcf;
	background: #f0f0f0;
}
.posted .article-btn .p1 {
	font-weight: bold;
}
.posted .article-btn .p2 {
	font-size: 12px;
	color: #999999;
	padding: 6px 0;
}
.posted .active .article-btn {
	color: #333333;
}
.posted .title-item .article-btn,
.tag-page .title-item .article-btn {
	padding: 26px 20px 0;
	color: #666666;
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}
.posted .title-item:hover,
.tag-page .title-item:hover {
	background: #fafafa;
}
.posted .title-item.active:hover {
	background: #f0f0f0;
}
.posted .title-item .article-btn:hover,
.tag-page .title-item .article-btn:hover {
	padding-left: 30px;
}
.posted .active .article-btn:hover {
	padding-left: 20px;
	box-shadow: inset 10px 0 0 rgba(0,0,0,0.8);
}

.posted .author {
	font-weight: bold;
	margin-right: 20px;
}
.posted .posted_edit {
	margin-right: 20px;
}
.posted .posted_edit:hover {
	text-decoration: none;
}
.posted .posted_comment {
	height: 30px;
	padding: 5px 0;
	overflow: hidden;
}
.posted .posted_head .pull-left {
	height: 40px;
	width: 60%;
}
.posted .content .popover {
	left: auto;
	right: 10px;
	z-index: 10000;
	background: #5e666c;
	border-radius: 2px;
}
.posted .content .popover .popover-content {
	padding: 6px;
}
.posted .content .popover a {
	text-decoration: none;
	display: block;
	padding: 6px 14px;
	border-top: 1px solid #7a7f80;
	background: #f2f2f2;
	color: #5b6369;
	border-radius: 2px;
}
.posted .content .popover a:first-child {
	border-top-width: 0;
}
.posted .content .popover a:hover {
	background: #e6e9e9;
	color: #619cb9;
	text-shadow: 1px 1px #ffffff;
}
.posted .popover.left .arrow {
	border-left-color: #5e666c;
}
.posted .popover.left .arrow:after {
	border-left-color: #5e666c;
}
/* tag-page*/
.tag-page {
	height: 80%;
	background-color: #fafafa;
}
.tag-page .title-item {
	background: #ffffff;
	margin-bottom: 10px;
	border-top: 1px solid #E2E2E2;
	border-bottom-width: 0;
	box-shadow: inset 10px 0 0 #cfcfcf,1px 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 10px 0 0 #cfcfcf,1px 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 10px 0 0 #cfcfcf,1px 1px 1px rgba(0,0,0,0.25);
	-ms-box-shadow: inset 10px 0 0 #cfcfcf,1px 1px 1px rgba(0,0,0,0.25);
}
.tag-page .title-item .article-btn {
	display: block;
	text-decoration: none;
	padding: 26px 20px 0;
}
.tag-page .title-item:first-child {
	border-top: 1px solid #cfcfcf;
}
.tag-page .article-btn:hover {
	padding-left: 20px;
	box-shadow: inset 10px 0 0 #0078b6;
	-webkit-box-shadow: inset 10px 0 0 #0078b6;
	-moz-box-shadow: inset 10px 0 0 #0078b6;
	-ms-box-shadow: inset 10px 0 0 #0078b6;
}
.tag-page .title-item .article-btn .spa1,
.tag-page .title-item .article-btn .spa2 {
	display: block;
}
.tag-page .title-item .article-btn .spa1 {
	font-weight: bold;
	color: #428bca;
}
.tag-page .title-item .article-btn .spa2 {
	margin-bottom: 10px;
	margin-top: 6px;
	font-size: 12px;
}
/* 注册 */
.login {
	height: 100%;
	width: 100%;
	background: url(../img/bg.gif) center no-repeat;
}
#login {
	width: 220px;
	padding: 10px;
	top: 20%;
	left: 50%;
	margin-left: -110px;
	background: #ffffff;
	font-size: 12px;
	box-shadow: 0 0 1px rgba(0,0,0,0.23);
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
#login .log {
	z-index: 200;
}
.login .matte:after {
	content: "";
	height: 100%;
	width: 220px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 205; 
	background: #ffffff;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
#login .log .form-control,
#login .reg .form-control {
	margin-bottom: 20px;
	font-size: 12px;
}
#login .head,
#login .head img {
	width: 60px;
	height: 60px;
}
#login .head {
	margin: 0px auto 10px;
}
#login .log .btn,
#login .reg .btn {
	width: 100%;
	margin-bottom: 10px;
}
#login .tip,
.comment .tip {
	left: 220px;
	max-width: 400px;
	top: 72px;
	border-radius: 2px;
	padding: 6px 10px;
	background: #E27B7B;
	color: #ffffff;
	box-shadow: none;
	filter: alpha(opacity=0);
	opacity: 0;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
#login .password-tip {
	top: 127px;
}
#login .reg_name-tip {
	top: auto;
	bottom: 3px;
}
#login .reg_pass-tip {
	top: auto;
	bottom: 3px;
}
#login .reg_repeat-tip {
	top: auto;
	bottom: 3px;
}
#login .reg_email-tip {
	top: auto;
	bottom: 3px;
}
#login .input-tip {
	background: #3276b1;
}
#login .tip p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#login .popover.right {
	border: none;
}
#login .popover.right .arrow,
.comment .popover.right .arrow  {
	border-width: 6px;
	left: -12px;
	margin-top: -6px;
	box-shadow: none;
}
#login .popover.right .arrow:after,
.comment .popover.right .arrow:after {
	border-right-color: #E27B7B;
	box-shadow: none;
}
#login .input-tip.right .arrow:after {
	border-right-color: #3276b1;
}
#login .reg,
#login .reset {
	left: 220px;
	top: 0px;
	width: 220px;
	padding: 4px 10px 10px;
	background: #ffffff;
	filter :alpha(opacity=0);
	opacity: 0;
	z-index: -210;
	box-shadow: 0 0 1px rgba(0,0,0,0.25);
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
#login .reg .return-log {
	font-size: 14px;
	color: #47a447;
}
#login .reg label {
	color: #bbbbbb;
	font-weight: normal;
}
#login .reg .form-control {
	margin-bottom: 10px;
}
#login .reg .control-label span {
	font-weight: normal;
	color: #999999;
}
#login .reset {
	width: 240px;
	height: 160px;
	background: #ffffff;
	left: auto;
	top: auto;
	right: 240px;
	bottom: 0px;
	z-index: -20;
}
#login .reset .return-log {
	position: absolute;
	bottom: 4px;
	right: 4px;
}
#login .reset_title {
	font-size: 40px;
	line-height: 1;
}
#login .reset_tip {
	padding: 6px;
	color: #555555;
}
/* 重置中心 */
.reset-page {
	height: 100%;
	color: #666666;
}
.reset-page .contan {
	width: 400px;
	padding: 0 20px 20px;
	margin: 30px auto;
	background: #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.23);
	border-top: 1px solid #e6e6e6;
	position: relative;
}
.reset-page .contan:before,
.reset-page .contan:after {
	content: "";
	width: 50%;
	height: 20px;
	left: 6px;
	display: block;
	position: absolute;
	bottom: 12px;
	z-index: -6;
	box-shadow: 0 15px 10px rgba(125,125,125,0.8);
	-webkit-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
	-moz-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
	-ms-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
	transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
}
.reset-page .contan:after {
	left: auto;
	right: 6px;
	transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
}
.reset-page .contan .btn {
	margin-top: 10px;
}
/* conmment */
.commented {
	padding-left: 50px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #cfcfcf;
}
.comments {
	height: auto;
	margin-top: 30px;
}
.comment .tip {
	left: auto;
	right: 1px;
	top: 33px;
}
.comment .popover.bottom .arrow {
	top: -8px;
	margin-left: 12px;
	border-bottom-color: #E27B7B;
	border-width: 7px;
	border-top-width: 0px;
}
.comment .popover.bottom .arrow:after {
	border-width: 7px;
	border-top-width: 0;
	top: 1px;
	margin-left: -7px;
	border-bottom-color: #E27B7B;
}
.comment_head {
	top: 10;
	left: 4px;
}
.comment_head img {
	width: 20px;
	height: 20px;
}
.comment_content {
	padding: 4px 6px;
}
.comment_content p {
	word-wrap: break-word;
	color: #888888;
	font-size: 12px;
}
.comment_content .info {
	text-align: right;
	margin-top: 6px;
}
.comment {
	margin-top: 20px;
}
.comment input {
	width: 200px;
}
.comment .textarea {
	margin: 10px 0;
	resize: none;
}
/* post */ 
.post,
.posted {
	height: 100%;
	color: #555555;
}
.post .navbar,
.posted .navbar {
	padding: 0 10px;
	position: fixed;
}
.post .navbar-nav.navbar-right:last-child,
.posted .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}
.post .navbar li > a,
.posted .navbar li > a {
	color: #2a6496;
	padding: 12px 18px;
	font-size: 26px;
}
.post .navbar .active > a,
.post .navbar .active > a:hover,
.posted .navbar .active > a,
.posted .navbar .active > a:hover {
	background: #F3CECE;
	color: #2a6496;
}
.post .navbar li .user_head,
.posted .navbar li .user_head {
	padding: 10px 0 10px;
}
.post .textarea {
	height: 100%;
	padding: 122px 0 60px;
}
.post .editor-container,
.post .preview-container {
	width: 50%;
	padding-right: 5px;
	height: 100%;
}
.post .preview-container {
	padding-left: 5px;
	padding-right: 0;
}
.container-shadow {
	box-shadow: 0 0 0 3px rgba(0,0,0,0.06);
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.06);
	-moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.06);
	-ms-box-shadow: 0 0 0 3px rgba(0,0,0,0.06);
	border-radius: 2px;
}
.post .editor-container .container-shadow,
.post .preview-container .container-shadow {
	width: 96%;
	height: 100%;	
}
.post .editor,
.post .preview {	
	height: 100%;
	width: 100%;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
}
.post-title {
	width: 96%;
	position: absolute;
	top: 58px;
	left: 2%;
	background: #ffffff;
}
.post-title_input {
	border: none;
	width: 100%;
	line-height: 1;
	padding: 12px 20px;
	font-size: 24px;
	color: #555555;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
}
.post-title_input:focus {
	outline: 0;
}
.post .editor textarea {
	height: 100%;
	width: 100%;
	border: none;
	resize: none;
	outline: none;
	color: #555555;
	box-shadow: none;
}
.post .preview #preview {
	height: 100%;
	width: 100%;
	overflow: auto;
	word-break: break-word;
}
.post .dropdown-menu input {
	background: transparent;
	border: 0;
}
.post #tag {
	border: none;;
	width: 500px;
	padding-left: 4px;
	background: transparent;;
	box-shadow: none;
}
/* 用户信息页 */
.user-info .head {
	width: 220px;
	height: 220px;
}
/* 页脚 */
.footer {
	padding: 0 20px;
}
.footer p {
	margin-bottom: 4px;
	font-size: 12px;
	color: #777777;
}
.footer .pull-right p {
	text-align: right;
}
hr {
	position: relative;
}
.separate {
	margin: 30px 0 20px;
}
.separate:after {
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #ffffff;
	border: 1px solid #cfcfcf;
	background: #ffffff;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
}
.page404 {
	width: 500px;
	height: 454px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -227px;
	margin-left: -250px;
	background: url(../img/404.png) no-repeat;
}
@media (max-width: 767px) {
  body {
	padding: 0;
  }
}