html, body, .home-page {
	height: 100%;
}
html, body, p, div, ul, li, a, span {
	margin: 0;
	padding: 0;
}
.navbar .nav .pull-right {
	float: right;
}
.navbar .nav-100 {
	width: 100%;
}
.post .nav .user_head {
}
.user_head img {
	height: 28px;
	width: 28px;
}
.pos-rela {
	position: relative;
}
.pos-abso {
	position: absolute;
	display: block;
}
.txt-center {
	text-align: center;
}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#999999;margin-right:1.2em;}
.tag{border-radius:3px;font-size:12px;color:#999999;display:inline-block;padding:1px 6px;}
.tag:hover{text-decoration:none;}
.l_head{float:left;margin-left:-4em;box-shadow:0px 1px 4px #888; width: 48px; height: 48px;}
/*#load-pic input[type="file"] {visibility: hidden; height: 2px;}*/
.upload-drag {
	padding: 10px;
	border: 2px dashed rgb(221, 221, 221);
	border-radius: 2px;
	min-height: 240px;
	height: auto; 
	transition: all 0.2s ease;
}
.thumbnail,
.thumbnail img{
	width:200px;
	height:150px;
}
.thumbnail {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
.close-img {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	background: #ffffff;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #000000;
	opacity: 0;
	transition: all 0.2s ease;
}
.thumbnail:hover {
	border-color: rgb(221, 221, 221);
}
.thumbnail:hover .close-img {
	opacity: 1;
}
.thumbnail .close-img:hover {
	background: #0078b6;
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none;
}
/* 首页 */
.home-page .page_header {
	height: 40%;
	min-height: 300px;	
}
.home-page .page_header,
.home-page .page_header .head:after {
	background: #333333;
}
.home-page .page_header .container {
	height: 100%;
	position: relative;
}
.home-page .motto {
	line-height: 1;
	color: #F87090;
	margin-top: 90px;
	font-size: 50px;
	-webkit-user-select: none;
	user-select: none;
	font-family: "华文行楷";
}
.home-page .poem {
	color: transparent;
	margin-top: 120px;
	font-size: 12px;
	letter-spacing: 2px;
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.home-page .poem:hover {
	color: #000000;
	opacity: 1;
	margin-top: 115px;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}
.bottom {
	position: absolute;
	width: 100%;
	height: 1px;
	right: 0;
	bottom: 0;
}
.home-page .page_header .head,
.home-page .page_header .no-head {
	position: absolute;
	height: 212px;
	width: 212px;
	line-height: 212px;
	text-align: center;
	border-radius: 10px;
	bottom: -106px;
	left: 50%;
	margin-left: -106px;
	background: #ffffff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.home-page .glyphicon {
	font-size: 200px;
	line-height: 212px;
	top: 3px;
}
.home-page .page_header .head:after {
	content: "";
	width: 100%;
	height: 106px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	z-index: 8;
	bottom: 0;
	left: 0;
}
.home-page .page_header .head img {
	margin: 6px;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	position: relative;
	z-index: 10;
}
.home-page .search-article {
	margin: 20px 0 100px;
}
.home-page article {
	margin-top: 70px;
	padding-left: 100px;
}
.home-page .author_head {
	left: 0px;
	top: 0px;
}
.home-page .author_head img {
	width: 48px;
	height: 48px;
}
.home-page .article p {
	line-height: 1.8;
	letter-spacing: 1px;
}
article h2 {
	margin-bottom: 20px;
	font-weight: bold;
}
article h2 a {
	color: #50585D;
}
.home-page .info {
	margin-top: 20px;
}
.info {
	font-size: 12px;
	color: #777777;
}

/* 文章单页 */
.singlepage {
	min-width: 900px;
}
.about_author,
.article_content {
	width: 300px;
	-webkit-transition: all 0.3s ease;
}
.singlepage .about_author {
	background: #428bca;
	overflow: hidden;
}
.singlepage .article_content {
	width: 600px;
	padding: 40px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",tahoma,arial,simsun,"\5B8B\4F53";
}
.singlepage .about_author .home {
	top: 10px;
	left: 20px;
}
.singlepage .about_author .glyphicon-home,
.singlepage .article_content .edit,
.singlepage .article_content .remove {
	color: #ffffff;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.13);
}	
.singlepage .about_author .glyphicon-home {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
}
.singlepage .article_content .edit {
	top: 10px;
	left: 20px;
}
.singlepage .article_content .remove {
	top: 10px;
	right: 20px;
}
.singlepage .article_content .edit,
.singlepage .article_content .remove {
	color: #999999;
}
.singlepage .article_content .edit:hover,
.singlepage .article_content .remove:hover {
	color: #333333;
}
.singlepage .about_author h4 {
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.singlepage .author_head {
	width: 60px;
	height: 60px;
	display: block;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 0 2px #ffffff;
	margin: 66px auto 10px;
}
.singlepage .author_head img {
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
.singlepage article p {
	line-height: 2;
	letter-spacing: 1px;
}

/* 注册 */
.login {
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	background-image: url(../img/grain.png);
}
#login {
	width: 220px;
	padding: 10px; 30px 30px;
	top: 10%;
	left: 50%;
	margin-left: -110px;
	background: #ffffff;
	font-size: 12px;
	box-shadow: 0 0 1px rgba(0,0,0,0.23);
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
.login .matte:after {
	content: "";
	height: 100%;
	width: 220px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff;
	filter: alpha(opacity=0.9);
	opacity: 0.9;
}
#login .form-control {
	margin-bottom: 20px;
	height: auto;
	padding: 4px 12px;
	font-size: 12px;
}
#login .head,
#login .head img {
	width: 60px;
	height: 60px;
}
#login .head {
	margin: 0px auto 10px;
}
#login .btn {
	width: 100%;
	margin-bottom: 10px;
}
#login .tip {
	left: 220px;
	min-width: 100px;
	top: 80px;
	border-radius: 2px;
	padding: 6px 10px;
	background: #E27B7B;
	color: #ffffff;
	box-shadow: none;
	filter: alpha(opacity=0);
	opacity: 0;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
#login .password-tip {
	top: 130px;
}
#login .reg_name-tip {
	top: 42px;
}
#login .reg_pass-tip {
	top: 107px;
}
#login .reg_repeat-tip {
	top: 172px;
}
#login .reg_email-tip {
	top: 235px;
}
#login .input-tip {
	background: #3276b1;
}
#login .tip p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#login .popover.right {
	border: none;
}
#login .popover.right .arrow {
	border-width: 6px;
	left: -12px;
	margin-top: -6px;
	box-shadow: none;
}
#login .popover.right .arrow:after {
	border-right-color: #E27B7B;
	box-shadow: none;
}
#login .input-tip.right .arrow:after {
	border-right-color: #3276b1;
}
#login .reg {
	left: 220px;
	top: 0px;
	width: 220px;
	padding: 4px 10px 10px;
	background: #ffffff;
	filter :alpha(opacity=0);
	opacity: 0;
	box-shadow: 0 0 1px rgba(0,0,0,0.25);
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
#login .reg .return-log {
	font-size: 14px;
	color: #47a447;
}
#login .reg label {
	color: #666666;
}
#login .reg .form-control {
	margin-bottom: 10px;
}
#login .reg .control-label span {
	font-weight: normal;
	color: #999999;
}
/* conmment */
.commented {
	padding-left: 50px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #cfcfcf;
}
.comment_head {
	top: 10;
	left: 4px;
}
.comment_head img {
	width: 20px;
	height: 20px;
}
.comment_content {
	padding: 4px 6px;
}
.comment_content p {
	word-wrap: break-word;
	color: #888888;
	font-size: 12px;
}
.comment_content .info {
	text-align: right;
	margin-top: 6px;
}
.comment {
	margin-top: 20px;
}
.comment .textarea {
	margin: 10px 0;
	resize: none;
}
/* post */ 
.post {
	height: 100%;
	background: #edece4;
}
.post .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}
.post .navbar li .user_head {
	padding: 10px 0 10px;
}
.post .textarea {
	height: 100%;
	padding: 160px 0 70px;
}
.post .editor {	
	height: 100%;
	width: 47%;
	padding: 20px;
	margin: 0 1% 0 2%;
	background: #ffffff;
}
.post-title {
	width: 96%;
	position: absolute;
	top: 76px;
	left: 2%;
	background: #ffffff;
	margin: 0px auto 10px;
}
.post-title_input {
	border: none;
	width: 100%;
	line-height: 1;
	padding: 16px 20px;
	font-size: 24px;
	color: #555555;
}
.post-title_input:focus {
	box-shadow: none;
	border: none;
	outline: 0;
}
.post .editor textarea {
	height: 100%;
	width: 100%;	
	border: none;
	resize: none;
	outline: none;
	box-shadow: none;
}
.post .preview {
	height: 100%;
	width: 47%;
	padding: 20px;
	margin: 0 2% 0 1%;
	background: #ffffff;
}
.post .preview #preview {
	height: 100%;
	width: 100%;
	overflow: auto;
}
.post .dropdown-menu input {
	background: transparent;
	border: 0;
}
/* 页脚 */
.footer p {
	margin-bottom: 4px;
	font-size: 12px;
	color: #777777;
}
hr {
	position: relative;
}
.footer-separate:after {
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #ffffff;
	border: 1px solid #cfcfcf;
	background: #ffffff;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
};